[submodule "submodules/LLFF"]
	path = submodules/LLFF
	url = https://github.com/Fyusion/LLFF.git
[submodule "submodules/DKM"]
	path = submodules/DKM
	url = https://github.com/Parskatt/DKM.git
[submodule "submodules/mast3r"]
	path = submodules/mast3r
	url = https://github.com/naver/mast3r
[submodule "submodules/asmk"]
	path = submodules/asmk
	url = https://github.com/jenicek/asmk
